<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SQLiteDemo">
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
        <activity
            android:name="Assignment.Activity.QLSanPhamActivity_Assm"
            android:exported="false" />
        <activity
            android:name="Assignment.Activity.MainActivity_Assm"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Assignment.Activity.DangKy_assm"
            android:exported="false" />
        <activity
            android:name="Assignment.Activity.LoginAssm"
            android:exported="false" />
        <activity
            android:name="lap2.lap2ActivityMain"
            android:exported="false" />
        <activity
            android:name="lap1.lap1MainScreen"
            android:exported="false" />
        <activity
            android:name=".ListStudentScreen"
            android:exported="false" />
    </application>

</manifest>